header {
    background-color: #DB9DF2;
    color: white;
}

.cabecalho-imagem{
    width: 20%;
}

header {
    background

div {
    background-color: #DB9DF2;
    color: white;
}

.conteudo-imagem{
    width: 20%;
}

div {
    background